{% extends 'base.html' %} {% load static %} {% load helper_tags %}
<!-- prettier ignore-->
{%block title%}Dashboard{%endblock%} {%block navBar%} {{ block.super }}
{%endblock%} {%block content%}
<div class="container">
	<div class="container-fluid my-3" style="background-color: #f6f8fa">
		<div class="p-3 d-flex flex-row">
			<div style="height: 48px">
				<img
					src="https://i.pravatar.cc/50?user={{user.email}}"
					alt=""
					srcset=""
					class="h-100 rounded-circle"
				/>
			</div>
			<div class="px-3">
				<div class="text-black">
					<span class="fw-bold"> Good Morning,</span>
					{{ user.get_full_name | title}}
				</div>
				<div class="text-secondary">
					Below you will find the list of all the leads assigned to you.
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid my-3 border">
		<div class="p-2 d-flex flex-row">
			<div class="fw-bold">Filter lead by status</div>
			<div class="ms-auto">
				{% if request.GET.filter == 'NEW' %}
				<a href="?filter=" class="text-decoration-none">
					<button type="button" class="btn btn-outline-primary btn-sm active">
						New Lead
					</button>
				</a>
				{% else %}
				<a href="?filter=NEW" class="text-decoration-none">
					<button type="button" class="btn btn-outline-primary btn-sm">
						New Lead
					</button>
				</a>
				{% endif %} {% for state in status_text %}
				<!-- prettier-ignore -->
				{% if request.GET.filter == state %}
				<a href="?filter=" class="text-decoration-none">
					<button
						type="button"
						class="btn btn-outline-{{status_bootstrap_color | get_value:state | default:'primary'}} btn-sm active"
					>
						{{ status_text | get_value:state }}
					</button>
				</a>
				{% else %}
				<a href="?filter={{state}}" class="text-decoration-none">
					<button
						type="button"
						class="btn btn-outline-{{status_bootstrap_color | get_value:state | default:'primary'}} btn-sm"
					>
						{{ status_text | get_value:state }}
					</button>
				</a>
				{% endif %} {% endfor %}
			</div>
		</div>
	</div>

	<table class="table table-hover table-borderless">
		<thead>
			<tr class="text-muted">
				<th>
					<input class="form-check-input" type="checkbox" />
				</th>
				<th scope="col" class="fw-normal">S.No</th>
				<th scope="col" class="fw-normal">Full Name</th>
				<th scope="col" class="fw-normal">Email Address</th>
				<th scope="col" class="fw-normal">Phone Number</th>
				<th scope="col" class="fw-normal">Assigned to</th>
				<th scope="col" class="fw-normal">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for lead in leads %}
			<tr>
				<td>
					<input class="form-check-input" type="checkbox" />
				</td>
				<th scope="row" class="fw-normal">
					{{ forloop.counter0|add:leads.start_index}}
				</th>
				<td>
					<img
						src="https://i.pravatar.cc/32?user={{lead.name}}"
						alt=""
						srcset=""
						class="h-100 rounded-circle"
					/>
					<span class="mx-2"> {{lead.name | title}} </span>
				</td>
				<td>{{lead.email}}</td>
				<td>{{lead.phone_number}}</td>
				<td>{{lead.user_id.get_full_name}}</td>
				{% with lead.state as status %}
				<td>
					<select
						class="state-select form-select form-select-sm shadow-none btn btn-sm btn-outline-{{status_bootstrap_color | get_value:status | default:'primary'}}"
						aria-label=".form-select-sm example"
						onchange="changeHandler({{lead.id}},this.value)"
					>
						{% if not status %}
						<option selected class="bg-light text-dark">New Lead</option>
						{% endif %} {% for state in status_text %} {% if state == status %}
						<option class="bg-light text-dark" value="{{state}}" selected>
							{{status_text | get_value:state}}
						</option>
						{% else %}
						<option class="bg-light text-dark" value="{{state}}">
							{{status_text | get_value:state}}
						</option>
						{% endif %} {% endfor %}
					</select>
				</td>
				{% endwith %}
				<td>
					<p
						class="text-decoration-none text-primary"
						onclick="showModal({{lead.id}})"
						role="button"
					>
						View
					</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- PAGINATION STARTS-->
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			{% if leads.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page=1">&laquo; first</a>
			</li>
			<li class="page-item">
				<a
					class="page-link"
					href="?filter={{request.GET.filter}}&page={{ leads.previous_page_number }}"
					>{{ leads.previous_page_number }}</a
				>
			</li>
			{% endif %}
			<li class="page-item active" aria-current="page">
				<a class="page-link" href="">{{ leads.number }}</a>
			</li>
			{% if leads.has_next %}
			<li class="page-item">
				<a
					class="page-link"
					href="?filter={{request.GET.filter}}&page={{ leads.next_page_number }}"
					>{{ leads.next_page_number }}</a
				>
			</li>
			<li class="page-item">
				<a class="page-link" href="?page={{ leads.paginator.num_pages }}"
					>last &raquo;</a
				>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>
<!-- Modal -->
<div
	class="modal fade"
	id="myModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">Remarks List</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body" id="modalBody"></div>
			<div class="modal-footer justify-content-center">
				<button
					type="button"
					id="saveModal"
					class="btn btn-primary btn-block col-12"
				>
					Save and exit
				</button>
			</div>
		</div>
	</div>
</div>

{%endblock%} {% block endscripts %}
<script type="text/javascript">
	async function changeHandler(id, value) {
		const rawResponse = await fetch("api/changeleadstate/" + id, {
			method: "POST",
			headers: {
				Accept: "application/json",
				"Content-Type": "application/json",
				"X-CSRFToken": "{{ csrf_token }}",
			},
			body: JSON.stringify({ value: value }),
		});
		const content = await rawResponse.json();
		if (content.error) {
			alert("Some error has occurred");
		}
		if (content.success) {
			location.reload();
		}
	}

	function formatAMPM(dateStr) {
		var date = new Date(dateStr);
		var currDate = date.getDate();
		var hours = date.getHours();
		var dayName = getDayName(date.getDay());
		var minutes = date.getMinutes();
		var monthName = getMonthName(date.getMonth());
		var year = date.getFullYear();
		var ampm = hours >= 12 ? "pm" : "am";
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		minutes = minutes < 10 ? "0" + minutes : minutes;
		var strTime =
			currDate +
			" " +
			monthName +
			" " +
			year +
			",  " +
			hours +
			":" +
			minutes +
			" " +
			ampm;
		return strTime;
	}

	function getMonthName(month) {
		var ar = new Array(
			"January",
			"February",
			"March",
			"April",
			"May",
			"June",
			"July",
			"August",
			"September",
			"October",
			"November",
			"December"
		);
		return ar[month];
	}

	function getDayName(day) {
		var ar1 = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
		return ar1[day];
	}

	async function postRemark(id, newRemark) {
		const rawResponse = await fetch("api/addRemark/" + id, {
			method: "POST",
			headers: {
				Accept: "application/json",
				"Content-Type": "application/json",
				"X-CSRFToken": "{{ csrf_token }}",
			},
			body: JSON.stringify({ remark: newRemark }),
		});
		JsonResponse = await rawResponse.json();
		console.log(JsonResponse);
	}
	async function showModal(id) {
		const modal = document.getElementById("myModal");
		const myModal = new bootstrap.Modal(modal, {
			keyboard: false,
			backdrop: "static",
		});
		const body = document.getElementById("modalBody");

		const rawResponse = await fetch("api/getRemarks/" + id);
		const response = await rawResponse.json();
		if (response.error) {
			alert("Some error has occurred");
		} else {
			modalBody = "";
			response.remarks.forEach((remark) => {
				const createdDate = formatAMPM(remark.created_at);
				modalBody += `
	           <div class="p-3 d-flex flex-row">
	             <div style="height: 48px">
	               <img
	               src="https://i.pravatar.cc/50?user=${remark.user_id__email}"
	               alt=""
	               srcset=""
	               class="h-100 rounded-circle"
	               />
	             </div>
                <div class="px-3 col-11">
                  <div class="text-black fw-bold">
                    ${remark.user_id__first_name} ${remark.user_id__last_name}
                  </div>
                  <div class="text-secondary">
                    ${createdDate}
                  </div>
                  <div class="border rounded p-2 text-muted mt-1">${remark.remark}</div>
	             </div>
	           </div>
	         `;
			});
			modalBody += `<div class="p-3"><textarea class="form-control" id="remarkTextArea" rows="3" placeholder="Add New Remark" style="resize:none;"></textarea></div>`;
			body.innerHTML = modalBody;

			const save = document.getElementById("saveModal");
			const remarkTextArea = document.getElementById("remarkTextArea");

			save.onclick = function () {
				const newRemark = remarkTextArea.value.trim();
				postRemark(id, newRemark);
				myModal.hide();
			};

			myModal.show();
		}
	}
</script>
{% endblock%}
