{% extends 'base.html' %} {% load static %} {% load helper_tags %}
<!-- prettier ignore-->
{%block title%}Dashboard{%endblock%} {%block navBar%} {{ block.super }}
{%endblock%} {%block content%}
<div class="container">
	<div class="container-fluid my-3" style="background-color: #f6f8fa">
		<div class="p-3 d-flex flex-row">
			<div style="height: 48px">
				<img
					src="https://i.pravatar.cc/50"
					alt=""
					srcset=""
					class="h-100 rounded-circle"
				/>
			</div>
			<div class="px-3">
				<div class="text-black">
					<span class="fw-bold"> Good Morning,</span>
					{{ user.get_full_name | title}}
				</div>
				<div class="text-secondary">
					Below you will find the list of all the leads assigned to you.
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid my-3 border">
		<div class="p-2 d-flex flex-row">
			<div class="fw-bold">Filter lead by status</div>
			<div class="ms-auto">
				<button type="button" class="btn btn-outline-primary btn-sm">
					New Lead
				</button>
				<button type="button" class="btn btn-outline-danger btn-sm">
					Hot Lead
				</button>
				<button type="button" class="btn btn-outline-warning btn-sm">
					Med Lead
				</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">
					Grey Lead
				</button>
				<button type="button" class="btn btn-outline-success btn-sm">
					Success
				</button>
			</div>
		</div>
	</div>

	<table class="table table-hover table-borderless">
		<thead>
			<tr class="text-muted">
				<th>
					<input class="form-check-input" type="checkbox" />
				</th>
				<th scope="col" class="fw-normal">S.No</th>
				<th scope="col" class="fw-normal">Full Name</th>
				<th scope="col" class="fw-normal">Email Address</th>
				<th scope="col" class="fw-normal">Phone Number</th>
				<th scope="col" class="fw-normal">Assigned to</th>
				<th scope="col" class="fw-normal">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for lead in leads %}
			<tr>
				<td>
					<input class="form-check-input" type="checkbox" />
				</td>
				<th scope="row" class="fw-normal">{{lead.id}}</th>
				<td>
					<img
						src="https://i.pravatar.cc/32?user={{lead.name}}"
						alt=""
						srcset=""
						class="h-100 rounded-circle"
					/>
					<span class="mx-2"> {{lead.name | title}} </span>
				</td>
				<td>{{lead.email}}</td>
				<td>{{lead.phone_number}}</td>
				<td>{{lead.user_id.get_full_name}}</td>
				{% with lead.state as status %}
				<td>
					<select
						class="state-select form-select form-select-sm shadow-none btn btn-sm btn-outline-{{status_bootstrap_color | get_value:status | default:'primary'}}"
						aria-label=".form-select-sm example"
						onchange="changeHandler({{lead.id}},this.value)"
					>
						{% if not status %}
						<option selected class="bg-light text-dark">New Lead</option>
						{% endif %} {% for state in status_text %} {% if state == status %}
						<option class="bg-light text-dark" value="{{state}}" selected>
							{{status_text | get_value:state}}
						</option>
						{% else %}
						<option class="bg-light text-dark" value="{{state}}">
							{{status_text | get_value:state}}
						</option>
						{% endif %} {% endfor %}
					</select>
				</td>
				{% endwith %}
				<td><a href="" class="">view</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- PAGINATION STARTS-->
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			{% if leads.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page=1">&laquo; first</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="?page={{ leads.previous_page_number }}"
					>{{ leads.previous_page_number }}</a
				>
			</li>
			{% endif %}
			<li class="page-item active" aria-current="page">
				<a class="page-link" href="">{{ leads.number }}</a>
			</li>
			{% if leads.has_next %}
			<li class="page-item">
				<a class="page-link" href="?page={{ leads.next_page_number }}"
					>{{ leads.next_page_number }}</a
				>
			</li>
			<li class="page-item">
				<a class="page-link" href="?page={{ leads.paginator.num_pages }}"
					>last &raquo;</a
				>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>
{%endblock%} {% block endscripts %}
<script type="text/javascript">
	async function changeHandler(id, value) {
		const rawResponse = await fetch("api/changeleadstate/" + id, {
			method: "POST",
			headers: {
				Accept: "application/json",
				"Content-Type": "application/json",
				"X-CSRFToken": "{{ csrf_token }}",
			},
			body: JSON.stringify({ value: value }),
		});
		const content = await rawResponse.json();
		if (content.error) {
			alert("Some error has occurred");
		}
		if (content.success) {
			location.reload();
		}
	}
</script>
{% endblock%}
