<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 

{%block title%}404 Page Not Found{%endblock%} 

{%block navBar%} {{ block.super }} {%endblock%} {%block content%}
<section class="page_404">
	<div class="container d-flex flex-column align-items-center">
		<div class="row">
			<img
				style="height: 70vh"
				src="{% static 'not_found.svg'%}"
				alt="404 svg"
			/>
		</div>
		<div class="row mb-1">
			<div class="h3">It's not you it's us</div>
		</div>
		<div class="row mb-1">
			<div class="lead text-muted">We are working on resolving the issue</div>
		</div>
		<a class="text-decoration-none" href="{% url 'home' %}">
			<button class="btn btn-primary rounded my-2">Go Home</button>
		</a>
	</div>
</section>
{%endblock%}
