{% extends 'base.html' %} {% load static %} {%block title%}Register{%endblock%}
{%block navBar%} {{ block.super }} {%endblock%}
{%block content%}
<div class="container">
	<div class="row gx-5">
		<div class="col col-lg-5 d-none d-md-block bg-light rounded">
			<div class="row p-4">
				<h1 class="display-6 fw-bold">Welcome to your Dashboard</h1>
			</div>
			<div class="row p-4">
				<span class="fs-4" style="color: #566474">
					This is the homepage of lead management system, login now to begin
				</span>
			</div>
			<div class="row p-4">
				<img
					src="{%static 'authentication/register.svg'%}"
					alt="register svg"
				/>
			</div>
		</div>
		<div
			class="col col-lg-7 p-4 d-flex justify-content-center align-items-center"
		>
			<div
				class="col col-lg-8 col-xl-7 container rounded-2 border py-4 shadow"
				style="border-color: #dfe0e0"
			>
				<div class="row">
					<h5 class="py-4">Register a new account</h5>
				</div>
				<div class="row">
					{% comment %} first_name, last_name, email, password, confirm
					password, phone number {% endcomment %}
					<form class="d-flex flex-column justify-content-center" method='POST' action='{% url 'register' %}'>
            {% csrf_token %}
						<div class="row mb-3">
							<div class="col">
								{{form.first_name}}
							</div>
							<div class="col">
								{{form.last_name}}
              </div>
						</div>

						<div class="mb-3">
							{{form.email}}
						</div>
            <div class="mb-3">
              {{form.phone_number}}
            </div>
						<div class="mb-3">
							{{form.password1}}
						</div>
						<div class="mb-3">
							{{form.password2}}
						</div>
						<button type="submit" class="btn btn-primary w-100 my-4">
							Register
						</button>
            <div class="mb-3 align-self-center">
							Already have an account? <a class="text-decoration-none" href="{% url 'login' %}">Login&nbsp;Now</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
